/*WIlliam Fu
Odin project
HTML/CSS
*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .left_nav {
    float: left;
  }

  .right_nav {
    float: right;
  }

  .left {
    float: left;
  }

  .right {
    float: left;
  }

  .links {
    margin-top: 13px;
    margin-left: 24px;
  }

  .links a {
    color: #000;
  }

  a {
    font-size: 13px;
    /*color: rgba(0,0,0,.54); */
    /* color: #2f2b2b; */
    color: #5f6368;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .img_right {
    height: 46px;
    width: 46px;
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 8px;
  }

  #apps, #bell {
    height: 25px;
    width: 25px;
    margin-top: 9px;
    margin-left: 18px;
    margin-right: 0px;
  }

.search-elements {
    width: 100%;
    height: 52%;
    margin: auto;
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0;
}
.logo {
    display: block;
    width: 22%;
    margin: 0px auto;
}

.bar {
    width: 46%;
    margin: 15px auto 25px auto;
    height: 42px;
}

.bar input {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    border: solid lightgray 1px;

}

.buttons {
    display: block;
    width: 22%;
    margin: 40px auto;
}

.search {
    width: 46%;
    float: left;
    height: 36px;
}

.lucky {
    width: 50%;
    float: right;
    height: 36px;
}

.search input, .lucky input {
    width: 100%;
    height: 100%;
    background-color: rgb(245, 245, 245);
    font-size: 14px;
    border-radius: 5px;
    border: none;
    color: #5f6368;
}

.bar input:hover, .bar input:active {
    box-shadow: 2px 2px 8px lightgrey;
}

.search input:hover, .lucky input:hover {
    border: solid lightgrey 1px;
}

.bottom-div {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color:  rgb(245, 245, 245);
    border-top: solid lightgrey 1px;
}

.bottom-links {
    margin-left: 30px;
    margin-top: 10px;
}

#setting {
    margin-right: 30px;
}
